
KERNEL=="sdb*", ACTION=="add", RUN{program}="/usr/bin/systemd-mount --no-block --collect $devnode  /mnt"

#KERNEL=="sdb*", PROGRAM="/bin/mount -t vfat /dev/sdb1 /mnt"

#KERNEL=="sdb*", ACTION=="add", PROGRAM="/bin/mount -t vfat /dev/sdb1 /mnt"
#KERNEL=="sdb*", ACTION=="remove", PROGRAM="/bin/umount /mnt"
