.input_field {
    width: 123px;
}
.emp {
    border-collapse: collapse;
    text-align:center;
    vertical-align:middle;
    padding: 0 10;
}
.emp_data {
    width: 123px;
    text-align:center;
}

.hide {
    display: none;
}